@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img{
    position: relative;
}
.bg-img::before{
    width: 100%;
    height: 100%;
    background-image: url('/kate-trysh-mkQBVya-1fM-unsplash.jpg');
    background-size: cover;
    position: absolute;
    content: '';
    z-index: -1;
    opacity: 0.4;
}


.servicios-hover:hover{
    transition: .5s all;
    height: 240px;
    transform: scale(1.1);
    border: none;
}

.info-hover:hover{
    border: none;
    transition: .5s all;
    transform: scale(1.1);
}

.effect{
    width: 300px;
    height: 300px;
    padding: 10px;
    background: #000;
    animation-name: wave;
    animation-timing-function: ease-in-out;
    animation-duration: 9.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.effect img{

    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation-name: wave;
    animation-timing-function: ease-in-out;
    animation-duration: 9.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    overflow: hidden;
}

@keyframes wave {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60%;
    }
    75% {
        border-radius: 50% 60% 40% 35% / 30% 50%;
    }
}