@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img{
    position: relative;
}
.bg-img::before{
    width: 100%;
    height: 100%;
    background-image: url('/kate-trysh-mkQBVya-1fM-unsplash.jpg');
    background-size: cover;
    position: absolute;
    content: '';
    z-index: -1;
    opacity: 0.4;
}


.servicios-hover:hover{
    transition: .5s all;
    height: 240px;
    transform: scale(1.1);
    border: none;
}